# MongoDB Atlas Connection
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.z40goxj.mongodb.net/test?retryWrites=true&w=majority&appName=Cluster0"
MONGODB_DB="test"

# Basic Authentication Credentials for Dashboard
BASIC_AUTH_USER="admin"
BASIC_AUTH_PASSWORD="your_secure_password"

# Optional Cron Secret for webhook endpoints
CRON_SECRET="your_optional_secret"
